.usa-header {
  @include u-bg('blue-70');
  @include u-color('gray-1');
  nav {
    .usa-nav__link {
        @include at-media('desktop') {
          @include set-text-from-bg('blue-70');
          @include set_link-from-bg('blue-70');
        }
    }

    .usa-nav__primary button[aria-expanded=false] {
      @include at-media('desktop') {
        background-image: url('./img/usa-icons-bg/expand_more--white.svg');
      }
    }

    .usa-
    .usa-nav__submenu-item, .usa-nav__submenu-item .usa_accordion__button span{
      @include at-media('desktop') {
          @include set-text-from-bg('blue-70');
          @include set_link-from-bg('blue-70');
        }
    }
  }
  .usa-navbar {
    img {
      float: left;
      @include u-width(5);
      @include at-media('desktop') {
        @include u-margin-right('105');
        @include u-margin-bottom('105');
        @include u-width(10);
      }
    }

    em {
      justify-content: center;
      @include u-font('body', '2xs');
      @include u-text('bold');
      @include u-text('italic');
    }
  }
}

#siteAnnouncement {
  #close-announcement {
    @include u-margin-right('105');
    img {
      @include u-height('105');
    }
  }
  .announcement-body {
    @include u-padding-bottom('105');
    @include u-maxw('desktop');
    margin: 0 auto;
  }
}
