#nldi-container {
  @include u-padding-top(1);
}

.wqp-multiselect {
  @include u-margin-bottom('105');
  .multiselect__tags {
    @include u-border-width('1px');
    @include u-border-color('gray-cool-60');
    @include u-border('solid');
    @include u-radius(0);
    @include u-font('body', 'xs');
  }

  .multiselect__input:focus {
    outline: none;
  }

  .multiselect:focus-within {
    @include u-outline-color('blue-40v');
    @include u-outline('05');
  }

  .multiselect__tag, .multiselect__option--highlight, .multiselect__option--selected.multiselect__option--highlight {
    @include u-bg('blue-60v');
  }
}

#datesLabel, #datesLabelAdv {
  font-size: 14px;
  font-weight: normal !important;
}


#params-basic {
  .formSection {
    @include u-padding-y('105');
  }
  .wqp-multiselect {
    @include at-media('tablet') {
      width: 50%;
    }
  }
  #point-location-basic {
    @include grid-row;
    @include grid-gap(md);
    .point-location-input-div {
      @include grid-col(12);
      @include at-media('desktop') {
        @include grid-col(1);
      }
    }
    #useMyLocationBasic {
      @include u-display('flex');
      @include u-flex('column');
      @include u-flex('justify-end');
      @include at-media-max('desktop') {
        @include u-margin-top(2);
      }
    }
    #point-location-basic-label {
      @include u-display('flex');
      @include u-flex('column');
      @include u-flex('justify-center');
    }
  }
  .menu-buttons {
    @include u-margin-y(2);
  }

  .basicSortDataCheckbox {
    @include u-margin-y('105');
  }
}

#params {
  .wqp-textarea {
    @include u-height(10);
    max-width: 100%;
    @include u-margin-bottom('105');
  }

  .usa-input {
    @include u-margin-top(0);
    @include u-margin-bottom('105');
  }
  .usa-fieldset {
    @include u-margin-bottom('205');
  }

  #useMyLocation {
    @include u-margin-top('105');
  }

  .advanced-section {
    @include u-padding-top('205');
  }

  .advanced-form-input-section {
    @include grid-row;
    @include grid-gap;
    @include u-margin-top('105');
  }
  .advanced-location-column {
    @include grid-col(12);
    @include at-media('tablet') {
      @include grid-col(3);
    }
    @include u-margin-bottom('105');
  }
  .advanced-filter-column {
    @include grid-col(12);
    @include at-media('tablet') {
      @include grid-col(4);
    }
    @include u-margin-bottom('105');
  }

  #download-sorted-data-div {
    @include u-margin-top('205');
  }

  #show-queries-div {
    @include u-margin-bottom('205');
  }

  #download-div {
    @include grid-row;
    @include grid-gap;

    #data-type-parameters-div {
      @include at-media('tablet') {
        @include grid-col(3);
      }
    }

    #download-data-kind-box {
      @include at-media('tablet') {
        @include grid-col(9);
      }
    }
  }
  #query-box-bold {
    font-weight: bold;
  }

  #query-box-muted {
    @include u-color('gray-60')
  }
  #current-url-textarea {
    @include u-margin-bottom('105');
  }

  .share-container, #query-box-text {
    width: 100%;
    @include u-padding-top('105');
  }
  #advanced-form-buttons {
    @include u-margin-bottom('205');
  }
}