arrow==1.0.3
Authlib==0.14.3
beautifulsoup4==4.9.3
celery==5.0.5
feedparser==6.0.2
markdown>=2.6.2
Flask==1.1.2
Flask-WTF==0.14.3
flask-swagger==0.2.14
geojson==2.5.0
gunicorn[gevent]==20.1.0
pyproj==3.0.1
redis==3.5.3
requests==2.25.1
whitenoise==5.2.0
