// Change the background color to test and make sure the compiling is working

body,
html {
}

// Variables
$black: #000;

// Import all other custom scss files
@import "layout.scss";

.custom-nav-branding {
  display: flex;
  padding-top: 15px;
  box-sizing: border-box;

  img {
    width: 160px;
    height: auto;
  }

  em {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bolder;
    line-height: 16px;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0 5px 12px;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

#coverage-map-container {
  position: relative;
  height: 320px;
  display: inline-block;

  @media (min-width: 768px) {
    height: 550px;
  }

  #coverage-map-area,
  .map-loading-indicator {
    position: relative;
    width: 600px;
    height: 400px;
    top: 0px;
  }

  #coverage-map-area {
    cursor: pointer;
    z-index: 0;
  }

  .map-loading-indicator {
    display: none;
    text-align: center;
    z-index: 50;
  }
}

#map-options {
  width: 20%;
  display: inline-block;
}

#nldi-map-container {
  /* display: none; */
  #nldi-help-div {
    font-style: italic;
  }
  #nldi-map {
    height: 500px;
    width: 100%;
    cursor: pointer;

    .leaflet-popup-pane {
      .feature-source-info ul {
        list-style: none;
        padding-left: 0px;
      }
      .navigation-selection-div {
        label {
          font-size: 14px;
          font-weight: bold;
        }
        .navigate-button-div {
          margin-top: 5px;
          text-align: center;
          button {
            color: blue;
            font-size: 14px;
            background-color: blue;
            border-color: lightgrey;
            padding: 5px 15px;
            border-radius: 5px;
            text-align: center;
          }
          button:disabled {
            opacity: 0.65;
          }
        }
      }
    }
  }
}

.leaflet-control-container {
  select {
    padding: 5px;
    font-size: 12px;
  }
}

// styles portal page
#app {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  position: relative;
}

#show-queries-div {
  padding-top: 10px; 
  margin: auto;
  width: 50%;
}


// Home Page form intro
#formIntro{
	margin: 0 0 65px 0;
	background-color: rgba(0,0,30,0.03);
	box-sizing: border-box;
	padding: 20px 20px 0 20px;
	border-radius: 4px;
	
	// Card column group
	.usa-card-group{
		margin: 25px 0 0 0;

		.usa-card__body.links-only{

			a{
				font-size: 15px;
				line-height: 16px;
				margin: 9px 0;
				display: block;
			}
		}
	}

	// Footer - dismiss and don't show again
	#formInroFooter{
		display: flex;
		width: 100%;
		padding-bottom: 20px;

		.footer-flex{
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 15px;

			.usa-checkbox label{
				margin: 0;
			}
		}
	}
}


// Form header and controls
#formHeader{
	display: flex;
	justify-content: space-between;
	width: 100%;

	#formHeaderButtons{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}