$theme-font-path: './fonts';
$theme-image-path: './img';

// Variables
$black: #000;

// Import all other custom scss files
@import "layout.scss";

@import "../../node_modules/uswds/dist/scss/uswds";

body,
html {
}

#main-header {
  background-color: #253f60;
  padding-bottom: 5px;
}

.custom-nav-branding {
  display: flex;
  padding-top: 10px;
  box-sizing: border-box;

  img {
    width: 140px;
    height: auto;
  }

  em {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bolder;
    line-height: 16px;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0 5px 12px;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

#coverage-map-container {
  position: relative;
  height: 320px;
  display: inline-block;

  @media (min-width: 768px) {
    height: 550px;
  }

  #coverage-map-area,
  .map-loading-indicator {
    position: relative;
    width: 600px;
    height: 400px;
    top: 0px;
  }

  #coverage-map-area {
    cursor: pointer;
    z-index: 0;
  }

  .map-loading-indicator {
    display: none;
    text-align: center;
    z-index: 50;
  }
}

#map-options {
  width: 20%;
  display: inline-block;
}

#nldi-map-container {
  /* display: none; */
  #nldi-help-div {
    font-style: italic;
  }
  #nldi-map {
    height: 500px;
    width: 100%;
    cursor: pointer;

    .leaflet-popup-pane {
      .feature-source-info ul {
        list-style: none;
        padding-left: 0px;
      }
      .navigation-selection-div {
        label {
          font-size: 14px;
          font-weight: bold;
        }
        .navigate-button-div {
          margin-top: 5px;
          text-align: center;
          button {
            color: blue;
            font-size: 14px;
            background-color: blue;
            border-color: lightgrey;
            padding: 5px 15px;
            border-radius: 5px;
            text-align: center;
          }
          button:disabled {
            opacity: 0.65;
          }
        }
      }
    }
  }
}

.leaflet-control-container {
  select {
    padding: 5px;
    font-size: 12px;
  }
}

// styles portal page
#advancedForm {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  position: relative;
}

// Home Page form intro
#formIntro {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e6e6e6; //uswds gray 10
  box-sizing: border-box;
  padding: 20px 20px 0 20px;
  border-radius: 4px;

  // Card column group
  .usa-card-group {
    margin: 25px 0 0 0;

    .usa-card__body.links-only {
      a {
        font-size: 15px;
        line-height: 16px;
        margin: 9px 0;
        display: block;
      }
    }
  }

  // Footer - dismiss and don't show again
  #formIntroFooter {
    display: flex;
    width: 100%;
    padding-bottom: 20px;

    .footer-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 15px;

      .usa-checkbox label {
        margin: 0;
      }
    }
  }
}

#close-announcement img {
  height: 10px; 
  width: auto;
}

// Form header and controls
#formHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;

  #formHeaderButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// Accordion custom styles
// Setting this on the usa-accordion__content usa-prose prevents clipping
#a1 {
  overflow: visible;
}
#a2 {
  overflow: visible;
}
#a3 {
  overflow: visible;
}

// basic form styles
.smallInput {
  width: 60px;
  min-height: 32px;
  border: 1px solid #565c65;
  border-radius: 0;
  padding: 0.5rem;
}

.formSection {
  padding: 10px;
}

.dateRange {
  display: inline-block;
}

#startDate {
  width: 45%;
  float: right;
}
#endDate {
  width: 45%;
  float: right;
}

.basicForm {
  height: 600px;
}

.basicSortDataCheckbox {
  margin-left: 10px;
  margin-top: 10px;
}

.required-field::after {
  content: "*";
  color: red;
}

.menu-buttons {
  float: left;
  margin-top: 25px;
}

// Header styles
.headerText {
  color: white;
}

// Setting this on the usa-accordion__content usa-prose prevents clipping
#locationaccordion {
  overflow: visible;
  margin-bottom: 5px;
}
#filteraccordion {
  overflow: visible;
  margin-bottom: 5px;
}
#downloadaccordion {
  overflow: visible;
}

//WQP
//custom styles specific to WQP
#close-announcement {
  background-color: transparent;
  margin-right: 10px;
}

.announcement-body {
  padding-bottom: 10px;
}

.usa-alert--no-icon {
  padding-top: 10px;
}

.usa-tooltip__body {
  background-color: #253f60 !important;
}

.usa-tooltip__body--bottom:after {
  border-bottom-color: #253f60 !important;
}

.usa-tooltip__body--top:after {
  border-top-color: #253f60 !important;
}

.usa-tooltip__body--left:after {
  border-left-color: #253f60 !important;
}

.usa-tooltip__body--right:after {
  border-right-color: #253f60 !important;
}

.usa-label {
  display: inline !important;
  font-weight: bold !important;
}

.wqp-textarea {
  display: block;
  height: 5rem;
  width: 100%;
  margin-bottom: 1rem;
}

#query-box-bold {
  font-weight: bold;
}

#query-box-muted {
  color: #757575;
}

a:link {
  color: grey;
}

a:visited {
  color: grey;
}

#main-button {
  float: left;
  color: white;
}

#place {
  padding-top: 20px;
}

.advancedLink {
  color:#005ea2; 
  text-decoration:underline; 
  cursor: pointer;
}

.smallText {
  font-size: x-small;
}

.share-container {
  padding-top: 10px;
}

#basic-dates {
  margin-top: -15px;
}

#startDate {
  width:45%; 
  float: left;
}

#current-url-textarea {
  margin-bottom: 10px;
}

#point-location-basic {
  padding-left: 0px;
  padding-bottom: 10px;
}

#point-location-basic-input {
  padding-top: 10px;
}

#point-location-basic-within {
  text-align: right; 
  padding-right: 10px;
}

//Select2
//matching select2 style to usa-input style
.select2-container--focus {
  outline: 0.25rem solid #2491ff !important;
  outline-offset: 0 !important;
}

.select2-search__field {
  font-family: inherit !important;
  font-size: inherit !important;
  min-height: 32px;
  height: auto !important;
  padding: 0.5rem !important;
  width: 100% !important;
}

.select2-selection__choice {
  white-space: normal !important;
  margin-right: 5px !important;
}

.select2-selection {
  font-size: inherit !important;
  border-color: #565c65 !important;
  border-style: solid !important;
  border-radius: 0 !important;
}

.select2-selection--multiple {
  box-shadow: none !important;
}

//USWDS
//matching a few elements of USWDS to select2
::placeholder {
  color: #a0a1a0;
}

.usa-input {
  margin-top: 0rem !important;
}

//for toggling between basic and advanced forms
.site-preview-heading {
  display: inline-block;
}

.tabs {
  font-size: 0;
  padding: 20px;
  padding-top: 0px;
}

.tabs:after {
  clear: both;
  content: "";
  display: table;
}

.tabs .tab {
  display: inline;
}

.tabs .tab > [type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  position: fixed;
  width: 1px;
  z-index: -1;
}

.tabs .tab-panel {
  display: inline;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}

.tabs .tab-label {
  background: white;
  border: 3px solid #757575;
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  padding: 10px;
  position: relative;
  vertical-align: bottom;
  font-weight: bold;
  color: #757575;
  border-radius: 0.25rem;
  cursor: pointer;
}

.tabs .tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background: white;
  border: none;
  float: left;
  font-size: 16px;
  font-size: 1rem;
  margin-top: -1px;
  width: 100%;
}

.tabs .tab [type="radio"]:checked + .tab-label {
  z-index: 1;
  color: #005ea2;
  border: 3px solid #005ea2;
}

.tabs .tab [type="radio"]:checked ~ .tab-panel {
  display: inline;
}

.tabs .tab #basic-tab + .tab-label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1.5px solid #005ea2;
}

.tabs .tab #advanced-tab + .tab-label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1.5px solid #005ea2;
}