$theme-font-path: './fonts';
$theme-image-path: './img';


// Import all other custom scss files
@import 'uswds';

@import 'layout.scss';
@import '../partials/header';
@import '../partials/nldi';
@import '../partials/portal-form';

body {
  @include u-bg('gray-1');

  #main-content {
    @include grid-container;
  }

  #forms {
    @include u-padding-top('205');
    // Home Page form intro
    #formIntro {
      @include u-margin-bottom('205');
      @include u-padding-top('205');
      @include u-bg('gray-10');
      @include u-radius('md');

      #formIntroFooter {
        @include grid-row;
        @include grid-gap(2);
        @include u-padding('205');

        .footer-flex {
          @include u-display('flex');
          @include u-flex('column');
          @include u-flex('justify-center');

          .usa-checkbox label {
            @include u-bg('gray-10');
            margin: 0;
          }
        }
      }
    }
  }
}

.leaflet-control-container {
  select {
    padding: 5px;
    font-size: 12px;
  }
}

.usa-footer__primary-section {
  @include u-bg('gray-cool-70');
}

#primary-footer a:link, #primary-footer a:visited {
  @include u-color('gray-1');
}

.required-field::after {
  content: "*";
  @include u-color('red-50v')
}

//WQP
//custom styles specific to WQP

.usa-tooltip__body {
  @include u-bg('blue-70')
}

.usa-tooltip__body--bottom:after {
  @include u-border-bottom('blue-70');
}

.usa-tooltip__body--top:after {
  @include u-border-top('blue-70');
}

.usa-tooltip__body--left:after {
  @include u-border-left('blue-70');
}

.usa-tooltip__body--right:after {
  @include u-border-right('blue-70');
}

.usa-label {
  display: inline;
  @include u-text('bold');
}

.usa-link {
  @include u-color('blue-cool-70');
}

.main-button {
  @include u-color('gray-1');
}

.advancedLink {
  @include u-color('blue-cool-70');
  text-decoration:underline;
  cursor: pointer;
}

.smallText {
  @include u-font-size('body', '3xs');
}

//for toggling between basic and advanced forms
.site-preview-heading {
  display: inline-block;
}

.tabs {
  font-size: 0;
}

.tabs:after {
  clear: both;
  content: "";
  display: table;
}

.tabs .tab {
  display: inline;
}

.tabs .tab > [type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  position: fixed;
  width: 1px;
  z-index: -1;
}

.tabs .tab-panel {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}

.tabs .tab-label {
  @include u-bg('gray-1');
  @include u-border('05');
  @include u-border-color(gray-50);
  display: inline-block;
  font-size: 1rem;
  padding: 10px;
  position: relative;
  vertical-align: bottom;
  font-weight: bold;
  @include u-color('gray-50');
  border-radius: 0.25rem;
  cursor: pointer;
}

.tabs .tab-content {
  box-sizing: border-box;
  display: block;
  @include u-bg('gray-1');
  border: none;
  float: left;
  font-size: 1rem;
  margin-top: -1px;
  width: 100%;
}

.tabs .tab [type="radio"]:checked + .tab-label {
  z-index: 1;
  @include u-color('blue-60v');
  @include u-border('05');
  @include u-border-color('blue-60v');
}

.tabs .tab [type="radio"]:checked ~ .tab-panel {
  display: inline;
}

.tabs .tab #basic-tab + .tab-label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  @include u-border-right(2px);
}

.tabs .tab #advanced-tab + .tab-label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1.5px solid color('blue-60v');
}

#sites-map, #site-map {
  height: 600px;
  width: 100%;
}

.hidden-input{
  display: none;
}

// ETL section in footer
#etlSection {
    font-size: 13.5px
}
