$theme-font-path: './fonts';
$theme-image-path: './img';


// Import all other custom scss files
@import 'layout.scss';
@import '../partials/_header.scss';
@import '../partials/_nldi';
@import 'uswds';
@import 'new_layout';
@import 'portal_form';

body {
  @include u-bg('gray-1');

  #forms {
    @include u-bg('gray-1');
    padding-top: 20px;
    // Home Page form intro
    #formIntro {
      margin-bottom: 20px;
      @include u-bg('gray-10');
      box-sizing: border-box;
      padding: 20px 20px 0 20px;
      border-radius: 4px;

      // Card column group
      .usa-card-group {
        margin: 25px 0 0 0;

        .usa-card__body.links-only {

          a {
            font-size: 15px;
            line-height: 16px;
            margin: 9px 0;
            display: block;
          }
        }
      }

      // Footer - dismiss and don't show again
      #formIntroFooter {
        display: flex;
        width: 100%;
        padding-bottom: 20px;

        .footer-flex {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 15px;

          .usa-checkbox label {
            @include u-bg('gray-10');
            margin: 0;
          }
        }
      }
    }

    // styles portal page
    #advancedForm {
      max-width: 1200px;
      display: block;
      margin: 0 auto;
      position: relative;
    }
  }
}

.leaflet-control-container {
  select {
    padding: 5px;
    font-size: 12px;
  }
}

.usa-footer__primary-section {
  @include u-bg('gray-cool-70');
}

#primary-footer a:link, #primary-footer a:visited {
  @include u-color('gray-1');
}

#close-announcement img {
  height: 10px;
  width: auto;
}

// Form header and controls
#formHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;

  #formHeaderButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// Accordion custom styles
// Setting this on the usa-accordion__content usa-prose prevents clipping
#a1 {
  overflow: visible;
}
#a2 {
  overflow: visible;
}
#a3 {
  overflow: visible;
}

// basic form styles


.formSection {
  padding: 10px;
}

.dateRange {
  display: inline-block;
}

#startDate {
  width: 45%;
  float: right;
}

#endDate {
  width: 45%;
  float: right;
}

.basicForm {
  height: 600px;
}

.basicSortDataCheckbox {
  margin-left: 10px;
  margin-top: 10px;
}

.required-field::after {
  content: "*";
  @include u-color('red-50v')
}

.menu-buttons {
  float: left;
  margin-top: 25px;
}

// Setting this on the usa-accordion__content usa-prose prevents clipping
#locationaccordion {
  overflow: visible;
  margin-bottom: 5px;
  box-sizing: border-box;
}

#filteraccordion {
  overflow: visible;
  margin-bottom: 5px;
}

#downloadaccordion {
  overflow: visible;
}

//WQP
//custom styles specific to WQP
#close-announcement {
  background-color: transparent;
  margin-right: 10px;
}

.announcement-body {
  padding-bottom: 10px;
}

.usa-alert--no-icon {
  padding-top: 10px;
}

.usa-tooltip__body {
  @include u-bg('blue-70')
}

.usa-tooltip__body--bottom:after {
  @include u-border-bottom('blue-70');
}

.usa-tooltip__body--top:after {
  @include u-border-top('blue-70');
}

.usa-tooltip__body--left:after {
  @include u-border-left('blue-70');
}

.usa-tooltip__body--right:after {
  @include u-border-right('blue-70');
}

.usa-label {
  display: inline !important;
  font-weight: bold !important;
}

// Overwrite float left to fix search result placement
[type="search"], .usa-search__input{
  float: none;
}

.wqp-textarea {
  display: block;
  height: 5rem;
  width: 100%;
  margin-bottom: 1rem;
}

#query-box-bold {
  font-weight: bold;
}

#query-box-muted {
  @include u-color('gray-60')
}

a:link {
  @include u-color('blue-cool-70');
}

a:visited {
  @include u-color('indigo-cool-70');
}

.usa-link {
  @include u-color('blue-cool-70');
}

#basic-main-button, #main-button {
  @include u-color('gray-1');
}

#place {
  padding-top: 20px;
}

.advancedLink {
  @include u-color('blue-cool-70');
  text-decoration:underline;
  cursor: pointer;
}

.smallText {
  font-size: x-small;
}

.share-container {
  padding-top: 10px;
}

#basic-dates {
  margin-top: -15px;
}

#startDate {
  width:45%;
  float: left;
}

#current-url-textarea {
  margin-bottom: 10px;
}

#point-location-basic-input {
  padding-top: 10px;
}

#point-location-basic-within {
  text-align: right;
  padding-right: 10px;
}

#useMyLocation {
  padding-top: 10px;
}

#closeIntroButton {
  background-color: white;
}

//vue multiselect
//matching multiselect style to usa-input style
.multiselect__tags, .multiselect__input {
  font-size: 1.06rem !important;
}

.multiselect__tags {
  @include u-border-width('1px');
  @include u-border-color('gray-cool-60');
  @include u-border('solid');
  @include u-radius(0);
}

.multiselect__input:focus {
  outline: none !important;
}

.multiselect:focus-within {
  @include u-outline-color('blue-40v');
  @include u-outline('05');
}

.multiselect__tag, .multiselect__option--highlight, .multiselect__option--selected.multiselect__option--highlight {
  @include u-bg('blue-60v', !important);
}

//USWDS
//matching a few elements of USWDS to select2
::placeholder {
  @include u-color('gray-warm-30');
}

.usa-input {
  margin-top: 0 !important;
}

//for toggling between basic and advanced forms
.site-preview-heading {
  display: inline-block;
}

.tabs {
  font-size: 0;
}

.tabs:after {
  clear: both;
  content: "";
  display: table;
}

.tabs .tab {
  display: inline;
}

.tabs .tab > [type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  position: fixed;
  width: 1px;
  z-index: -1;
}

.tabs .tab-panel {
  display: inline;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}

.tabs .tab-label {
  @include u-bg('gray-1');
  @include u-border('05');
  @include u-border-color(gray-50);
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  padding: 10px;
  position: relative;
  vertical-align: bottom;
  font-weight: bold;
  @include u-color('gray-50');
  border-radius: 0.25rem;
  cursor: pointer;
}

.tabs .tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  @include u-bg('gray-1');
  border: none;
  float: left;
  font-size: 16px;
  font-size: 1rem;
  margin-top: -1px;
  width: 100%;
}

.tabs .tab [type="radio"]:checked + .tab-label {
  z-index: 1;
  @include u-color('blue-60v');
  @include u-border('05');
  @include u-border-color('blue-60v');
}

.tabs .tab [type="radio"]:checked ~ .tab-panel {
  display: inline;
}

.tabs .tab #basic-tab + .tab-label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  @include u-border-right(2px);
}

.tabs .tab #advanced-tab + .tab-label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1.5px solid color('blue-60v');
}

#start-date-select-basic {
  padding-top: 10px;
}

#datesLabel {
  padding:0 10px 10px 0;
}

#datesLabel, #datesLabelAdv {
  font-size: 14px;
  font-weight: normal !important;
}

#sites-map, #site-map {
  height: 600px;
  width: 100%;
}

.hidden-input{
  display: none;
}

// ETL section in footer
#etlSection {
    font-size: 13.5px
}
