{% extends "base.html" %}

{% block title %}WQP National Results Coverage{% endblock %}

{% block page_header_title %}Water Quality Portal National Results Coverage{% endblock %}

{% block page_content %}
<div class="page-center">
    <div id="data-content">
        <div id="map-options-div">
            <h3 class="site-preview-heading">Default</h3>
            <div class="usa-summary-box" role="complementary" id="map-options">
                <div class="usa-summary-box__body">
                    <h3 class="usa-summary-box__heading">Key information</h3>
                    <div class="usa-summary-box__text">
                        <div id="display-options-body" class="panel-body">
                            <div id="display-by-div">
                                <span class="options-label">Display by:</span><br />
                                <input type="radio" name="displayBy" value="states"
                                    checked="checked" />&nbsp;State<br />
                                <input type="radio" name="displayBy" value="counties" />&nbsp;County<br />
                                <input type="radio" name="displayBy" value="huc8" />&nbsp;HUC 8
                            </div>

                            <div id="date-filter-div">
                                <span class="options-label">Date:</span><br />
                                <input type="radio" name="timeSpan" value="past_12_months" />&nbsp;Last 12 months<br />
                                <input type="radio" name="timeSpan" value="past_60_months" />&nbsp;Last 5 years<br />
                                <input type="radio" name="timeSpan" value="all_time" checked="checked" />&nbsp;All<br />
                            </div>

                            <div id="data-source">
                                <span class="options-label">Source:</span><br />
                                <input type="radio" name="dataSource" value="storet" />&nbsp;EPA
                                <br />
                                <input type="radio" name="dataSource" value="nwis" />&nbsp;NWIS
                                <br />
                                <input type="radio" name="dataSource" value="all" checked="checked" />&nbsp;All
                                <br />
                            </div>
                        </div>
                        <!-- USWDS FORM AND BUTTONS, Not fully functional -->
                        <!-- <form class="usa-form">
                            <h3 class="site-preview-heading">Display By</h3>
                            <fieldset id="display-options" class="usa-fieldset">
                                <legend class="usa-legend usa-legend">Select one display option</legend>
                                <div class="usa-radio">
                                    <input class="usa-radio__input" type="radio" name="displayBy" value="states"
                                        checked="checked" checked="checked">
                                    <label class="usa-radio__label">State</label>
                                </div>
                                <div class="usa-radio">
                                    <input class="usa-radio__input" type="radio" name="displayBy" value="counties">
                                    <label class="usa-radio__label">County</label>
                                </div>
                                <div class="usa-radio">
                                    <input class="usa-radio__input" type="radio" name="displayBy" value="huc8">
                                    <label class="usa-radio__label">HUC 8</label>
                                </div>
                            </fieldset>
                            <h3 class="site-preview-heading">Date:</h3>
                            <fieldset id="date-options" class="usa-fieldset">
                                <legend class="usa-legend usa-legend">Select one date option</legend>
                                <div class="usa-radio">
                                    <input class="usa-radio__input" type="radio" name="timeSpan" value="past_12_months">
                                    <label class="usa-radio__label" for="last-12-months">Last 12 months</label>
                                </div>
                                <div class="usa-radio">
                                    <input class="usa-radio__input" type="radio" name="timeSpan" value="past_60_months">
                                    <label class="usa-radio__label" for="last-5-years">Last 5 years</label>
                                </div>
                                <div class="usa-radio">
                                    <input class="usa-radio__input" type="radio" name="timeSpan" value="all_time"
                                        checked="checked">
                                    <label class="usa-radio__label" for="all">All</label>
                                </div>
                            </fieldset>
                            <h3 class="site-preview-heading">Source:</h3>
                            <fieldset id="source-options" class="usa-fieldset">
                                <legend class="usa-legend usa-legend">Select one source option</legend>
                                <div class="usa-radio">
                                    <input class="usa-radio__input" type="radio" name="dataSource" value="storet">
                                    <label class="usa-radio__label" for="last-12-months">EPA Storet</label>
                                </div>
                                <div class="usa-radio">
                                    <input class="usa-radio__input" type="radio" name="dataSource" value="nwis">
                                    <label class="usa-radio__label" for="last-5-years">NWIS</label>
                                </div>
                                <div class="usa-radio">
                                    <input class="usa-radio__input" type="radio" name="dataSource" value="all_time"
                                        checked="checked">
                                    <label class="usa-radio__label" for="all">All</label>
                                </div>
                            </fieldset>
                        </form> -->
                    </div>
                </div>
            </div>
            <div id="coverage-map-container">
                <!-- <div class="map-loading-indicator"><i class="fa fa-spin fa-spinner fa-5x"></i></div> -->
                <div id="coverage-map-area">
                </div>
            </div>
        </div>

        <div id="legend" class="panel">
            <div class="panel-heading">
                MAP LEGEND
            </div>
            <div id="legend-img-div" class="panel-body">
                <span>Number of all discrete samples</span><br />
                <img id="legend-img" src="" alt="No legend available" />
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block body_page_script %}
<script src="{{ 'scripts/coverage.js' | asset_url }}"></script>
{% endblock %}