{% extends "base.html" %}
{% block meta_tags %}
    <meta name="google-site-verification" content="U1sI4UZAdEVS_0seZnE7MC97P1Ho6Hecg3wumfV5KoA" />
    <meta name="msvalidate.01" content="E86159A5D7A52A1AF52A3024B0ECC27F" />
{% endblock %}
{% block title %}Water Quality Data Home{% endblock %}

{% block nav_bar %}{% endblock %}

{% block page_content %}


	<div id="formIntro">

		<div class="usa-alert usa-alert--info usa-alert--no-icon">
			<div class="usa-alert__body">
				<p class="usa-alert__text">
					<b>Welcome to the new Water Quality Portal</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
				</p>
			</div>
		</div>



		<!-- Two column help and learn more links -->
		<ul class="usa-card-group">
			<li class="tablet:grid-col-6 usa-card usa-card--flag">
				<div class="usa-card__container">
					<header class="usa-card__header">
						<h2 class="usa-card__heading">Learn about the WQP</h2>
					</header>
					<div class="usa-card__media">
						<div class="usa-card__img">
							<img src="{{ 'img/download_button_normal.jpg' | asset_url }}" alt="Background graphic" />
						</div>
					</div>
		
					<div class="usa-card__body links-only">
						<a href="/wqp_description/">What is the WQP?</a>
						<a href="/orgs/">Contributing organizations</a>
						<a href="/other_portal_links/">Other Portal</a>
						<a href="/provider/">Explore WQP Sites</a>
					</div>
					<!-- <div class="usa-card__footer">
						<button class="usa-button">More Info</button>
					</div> -->
				</div>
			</li>

			<li class="tablet:grid-col-6 usa-card usa-card--flag">
				<div class="usa-card__container">
					<header class="usa-card__header">
						<h2 class="usa-card__heading">How to use the WQP</h2>
					</header>
					<div class="usa-card__media">
						<div class="usa-card__img">
							<img src="{{ 'img/resources_button_normal.jpg' | asset_url }}" alt="Background graphic" />
						</div>
					</div>
		
					<div class="usa-card__body links-only">
						<a href="/portal_userguide/">User Guide</a>
						<a href="/webservices_documentation/">Web Services Documentation</a>
						<a href="/faqs/">FAQs</a>
						<a href="/upload_data/">Upload Data</a>
					</div>
					<!-- <div class="usa-card__footer">
						<button class="usa-button">Read More</button>
					</div> -->
				</div>
			</li>
		</ul>


		<div id="formInroFooter">

			<div class="footer-flex">
				<button class="usa-button usa-button--outline">Close Intro</button>
			</div>


			<!-- Don't show again checkbox -->
			<div class="footer-flex">
				<div class="usa-checkbox">
					<input class="usa-checkbox__input" id="dont-show-again" type="checkbox" name="dont-show-again">
					<label class="usa-checkbox__label" for="dont-show-again">Don't show again on this computer</label>
				</div>
			</div>

		</div>


	</div>


	<!-- Form controls - reset, toggle advanced -->

	<div id="formHeader">

		<h1>Water Quality Portal</h1>
	
		<div id="formHeaderButtons">
			<ul class="usa-button-group">
				<li class="usa-button-group__item">
					<button class="usa-button usa-button--outline">Reset Form</button>
				</li>
				<li class="usa-button-group__item">
					<button class="usa-button">Show Advanced Form</button>
				</li>
			</ul>
		</div>

	</div>

	
	


	<div class="index-box">
        <div id="download-col" class="index-box-column">
            <div class="index-box-primary" id="download-data-box">
                <a href="{{ url_for('portal_ui.portal-canonical') }}"><h5>DOWNLOAD<br/>DATA</h5></a>
                <p> Download water-quality data in Excel, CSV, and TSV formats.<p>
            </div>
        </div>
        <div id="info-col" class="index-box-column">
            <div id="rsrc-doc-box" class="index-box-secondary">
                <a class="main-link" href="{{ url_for('portal_ui.portal_userguide-canonical') }}">
                <h5>HOW TO USE THE WQP</h5>
                </a>
                <ul>
                    <li class="interior-list"><a href="{{ url_for('portal_ui.portal_userguide-canonical') }}">User Guide</a></li>
                    <li class="interior-list"><a href="{{ url_for('portal_ui.webservices_documentation-canonical') }}"> Web Services Guide</a></li>
                    <li class="interior-list"><a href="{{ url_for('portal_ui.faqs-canonical') }}">FAQs</a></li>
                    <li class="interior-list"><a href="{{ url_for('portal_ui.upload_data-canonical') }}">Upload Data</a>
                </ul>
            </div>
            <div id="coverage-box" class="index-box-secondary">
                <a  href="{{ url_for('portal_ui.coverage-canonical') }}">
                    <h5>NATIONAL RESULTS COVERAGE</h5>
                    <p>Water-quality data in your state.</p>
                </a>
            </div>
            <div id="about-box" class="index-box-secondary">
                <a href="">
                <h5>ABOUT THE WQP</h5>
                </a>
                <ul>
                    <li class="interior-list"><a href="{{ url_for('portal_ui.wqp_description-canonical') }}">What is the WQP?</a></li>
                    <li class="interior-list"><a href="{{ url_for('portal_ui.orgs-canonical') }}">Contributing organizations</a></li>
                    <li class="interior-list"><a href="{{ url_for('portal_ui.other_portal_links-canonical') }}">Other Water Quality Portals</a></li>
                    <li class="interior-list"><a href="{{ url_for('portal_ui.uri_base') }}">Explore WQP Sites</a></li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}

{% block body_page_script %}
<script type="text/javascript" src="{{ 'scripts/uswds.js' | asset_url }}"></script>
    {% include "partials/hide_non_usgs_epa_logos.html" %}

    <script type="text/javascript">
        // The following code makes interior links clickable
        $(document).ready(function(){
            $('.index-box-primary').click(function(){
                window.location=$(this).find('a').attr('href');
                return false;
             });
            $('.index-box-secondary').click(function(){
                window.location=$(this).find('a').attr('href');
            });
            $('.index-box-secondary .interior-list').click(function(){
                window.location=$(this).find('a').attr('href');
            });
        });
    </script>
{% endblock %}
