{% extends 'base.html' %} {% block page_header_title %}Water Quality Data{%
  endblock %} {% block page_content %}
  <div id="page-content">
    <div id="app">
      <form role="form" id="params" name="params" autocomplete="off" method="post" action="
                          {%  if config.WATERAUTH_AUTHORIZE_URL %}
                            {{ url_for('portal_ui.wqp_download_proxy', op='Station')}}
                          {%  else %}
                            {{ config.SEARCH_QUERY_ENDPOINT }}Station/search
                            {% endif %}
                            ">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div id="place">
          <div class="grid-col">
            <div class="usa-accordion">
              <h4 class="usa-accordion__heading">
                <button class="usa-accordion__button" aria-expanded="true" aria-controls="locationaccordion">
                  Select Location Parameters
                </button>
              </h4>
              <div id="locationaccordion" class="usa-accordion__content usa-prose">
                <div>Use the location parameters to describe the spatial extent of the desired dataset.
                </div>
                <br>
                <div class="grid-row grid-gap">
                  <div class="tablet:grid-col-3">
                    <div class="form-group">
                      <label class="usa-label">Country </label><label class="tooltip" class="control-label" for="control-label" :title="countryTooltip"><span style="color: #565c65
                        ;"><i class="fa fa-info-circle"></i></span></label>
                      <div>
                        <select multiple class="form-control" input class="usa-input" type="text" id="countrycode" name="countrycode" data-placeholder="All Countries"
                          style="width: 100%" aria-label="Input box for country parameter"></select>
                      </div>
                    </div>
                    <br>
                    <div class="form-group">
                      <label class="usa-label">State </label><label class="tooltip" class="control-label" for="control-label" :title="stateTooltip"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                        <div>
                        <select multiple class="form-control usa-input" id="statecode" name="statecode" data-placeholder="All States"
                          style="width: 100%" aria-label="Input box for state parameter"></select>
                      </div>
                    <br>
                    <div class="form-group">
                      <label class="usa-label">County </label><label class="tooltip" class="control-label" for="control-label" :title="countyTooltip"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                      <div>
                        <select multiple class="form-control" id="countycode" name="countycode" data-placeholder="All Counties"
                          style="width: 100%" aria-label="Input box for county parameter"></select>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="tablet:grid-col-3">
                    <div id="point-location">
                      <div>
                        <label class="usa-label">Point Location </label><label class="tooltip" :title="pointLocationTooltip"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                      </div>
                      <div>
                        <div class="form-group">
                          <label class="control-label" for="within">Within</label>
                          <div>
                            <input class="usa-input" type="text" name="within" size="16" id="within" placeholder="All" aria-label="First of three input boxes for point location parameter. Input box for number of miles from point." />
                          </div>
                        </div>
                        <div id="miles-label">miles of</div>
                        <div class="form-group">
                          <label class="control-label" for="lat">Latitude</label>
                          <div>
                            <input class="usa-input" type="text" name="lat" size="16" id="lat" placeholder="0" aria-label="Second of three input boxes for point location parameter. Input box for latitude." />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="long">Longitude</label>
                          <div>
                            <input class="usa-input" type="text" name="long" size="16" id="long" placeholder="0" aria-label="Third of three input boxes for point location parameter. Input box for longitude." />
                          </div>
                        </div>
                        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                          <use xlink:href="{{ 'img/sprite.svg#my_location' | asset_url }}"></use>
                        </svg>
                        <div id="useMyLocation"></div>
                      </div>
                    </div>
                  </div>
                  <div class="tablet:grid-col-3">
                    <div id="bounding-box">
                    <div>
                    <label class="usa-label">Bounding Box </label><label class="tooltip" :title="boundingBoxTooltip"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                    </div>
                      <div>
                        <div class="form-group">
                          <label class="control-label" for="north">North:</label>
                          <div>
                            <input class="usa-input" type="text" size="16" id="north" placeholder="90" aria-label="First of four input boxes for bounding box parameter. Input box for north latitude." />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="south">South:</label>
                          <div>
                            <input class="usa-input" type="text" size="16" id="south" placeholder="-90" aria-label="Second of four input boxes for bounding box parameter. Input box for south latitude." />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="east">East:</label>
                          <div>
                            <input class="usa-input" type="text" size="16" id="east" placeholder="180" aria-label="Third of four input boxes for bounding box parameter. Input box for east longitude." />
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label" for="west">West:</label>
                          <div>
                            <input class="usa-input" type="text" size="16" id="west" placeholder="-180" aria-label="Fourth of four input boxes for bounding box parameter. Input box for west longitude." />
                          </div>
                        </div>
                      </div>
                      <input type="hidden" name="bBox" />
                    </div>
                    </div>
                    <div class="tablet:grid-col-3">
                      <div id="site-params">
                        <div class="form-group">
                          <label class="usa-label">Site Type </label><div class="tooltip" :title="siteTypeTooltip">
                            <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                          </div>
                            <div>
                              <select multiple id="siteType" name="siteType" data-placeholder="All Site Types"
                                style="width: 100%" aria-label="Input box for site type parameter"></select>
                            </div>
                          </div>
                          <br>
                        <div class="form-group">
                          <label class="usa-label">Organization ID </label><div class="tooltip" :title="orgIDTooltip">
                            <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                          </div>
                            <div>
                              <select multiple id="organization" name="organization"
                                data-placeholder="All Organization IDs" style="width: 100%" aria-label="Input box for organization ID parameter"></select>
                            </div>
                          </div>
                          <br>
                        <div class="form-group">
                          <label class="usa-label">Site ID </label><div class="tooltip" :title="siteIDTooltip">
                            <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                          </div>
                            <div>
                              <select multiple id="siteid" input class="form-control" name="siteid" data-placeholder="All Site IDs"
                                style="width: 100%" aria-label="Input box for site ID parameter"></select>
                            </div>
                          </div>
                          <br>
                        <div class="form-group">
                          <label class="usa-label">HUC </label><div class="tooltip" :title="hucTooltip">
                            <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                          </div>
                            <div>
                              <input class="usa-input" type="text" name="huc" id="huc" data-multiple="true" placeholder="All HUCs" size="16" aria-label="Input box for HUC parameter" />
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="siteSamplingParams">
          <div class="grid-col">
            <div class="usa-accordion">
              <h4 class="usa-accordion__heading">
                <button class="usa-accordion__button" aria-expanded="true" aria-controls="filteraccordion">
                  Filter Results
                </button>
              </h4>
              <div id="filteraccordion" class="usa-accordion__content usa-prose">
                <div>Use the site and sampling parameters to describe the type of location where desired data was collected and information about the desired data.</div>    
                <br>  
                  <div id="sampling-params" class="panel panel-default">
                    <div class="panel-body">
                      <div id="sampling" class="subpanel">
                        <div class="subpanel-body">
                          <div class="grid-row grid-gap">
                            <div class="tablet:grid-col-4">
                                <label class="usa-label">Sample Media </label><div class="tooltip" :title="sampleMediaTooltip">
                                <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                                </div>
                                <div>
                                  <select multiple class="form-control" name="sampleMedia" id="sampleMedia"
                                    data-placeholder="All Sample Mediums" style="width: 100%" aria-label="Input box for sample media parameter"></select>
                              </div>
                              <br>
                              <label class="usa-label">Characteristic Group </label><div class="tooltip" :title="charGroupTooltip">
                                <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                              </div>
                                <div>
                                  <select multiple class="form-control" name="characteristicType" id="characteristicType"
                                    data-placeholder="All Characteristic Groups" style="width: 100%" aria-label="Input box for characteristic groups parameter"></select>
                                </div>
                                <br>
                              <label class="usa-label">Characteristics </label><div class="tooltip" :title="characteristicsTooltip">
                                <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                              </div>
                                <div>
                                  <select multiple class="form-control" name="characteristicName" id="characteristicName"
                                    data-placeholder="All Characteristics" style="width: 100%" aria-label="Input box for characteristics parameter"></select>
                                </div>
                              <br>
                              <label class="usa-label">Project ID </label><div class="tooltip" :title="projectIDTooltip">
                                <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                              </div>
                                <div>
                                  <select multiple class="form-control" name="project" id="project-code"
                                    data-placeholder="All Project IDs" style="width: 100%" aria-label="Input box for project ID parameter"></select>
                                </div>
                              </div>
                                <div class="tablet:grid-col-4">
                              <label class="usa-label">Parameter Code
                                  <span style="font-size: x-small">(NWIS ONLY) </span></label><div class="tooltip" id="pcode-div" :title="paramCodeTooltip">
                                <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                                  </div>
                                <div>
                                  <input class="usa-input" type="text" size="23" placeholder="All Parameter Codes" name="pCode" id="pCode"
                                    data-multiple="true" aria-label="Input box for parameter code parameter" />
                                </div>
                                <br>
                          <div id="biological" class="subpanel">
                            <div class="subpanel-heading">
                            <label class="usa-label">Biological Sampling Parameters <div class="tooltip" :title="bioSamplingTooltip" for="control-label">
                              <label for="control-label"></label><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span>
                            </div>
                          </div>
                            <div class="subpanel-body">
                              <label class="usa-label">Assemblage </label><div class="tooltip" :title="assemblageTooltip">
                                <label for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                              </div>
                                <div>
                                  <select multiple name="assemblage" id="assemblage"
                                    data-placeholder="All Assemblages" style="width: 100%" aria-label="First of two input boxes for biological sampling parameters. Input box for assemblage parameter."></select>
                                </div>
                                <br>
                              <div class="form-group">
                                <label class="usa-label">Taxonomic
                                  Name </label><label class="tooltip" for="control-label" :title="taxNameTooltip"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                                <div>
                                  <select multiple name="subjectTaxonomicName" aria-label="Select a taxonomic name"
                                    id="subject-taxonomic-name" data-placeholder="All Taxonomic Names" style="width: 100%" aria-label="Second of two input boxes for biological sampling parameters. Input box for taxonomic name parameter."></select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    <div class="tablet:grid-col-4">
                      <div id="date-row">
                        <div id="start-date-select">
                          <label class="usa-label">Date range (mm/dd/yyyy) </label><div class="tooltip" :title="dateRangeTooltip">
                            <label for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                          </div>
                              <div>
                                <div>
                                  <label>from: </label><input class="usa-input" type="text" id="startDateLo"
                                  name="startDateLo" placeholder="All Dates" size="18" aria-label="First of two input boxes for date range parameter. Input box for start date parameter." />
                                </div>
                              </div>
                            </div>
                        <div id="end-date-select">
                          <div>
                            <div>
                              <label class="control-label" for="startDateHi">to: </label> <input class="usa-input" type="text" id="startDateHi"
                                name="startDateHi" placeholder="All Dates" size="20" aria-label="Second of two input boxes for date range parameter. Input box for end date parameter." />
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div id="min-activities-parameters-div">
                        <label class="usa-label">Minimum sampling activities per site </label><div class="tooltip" id="min-activities-div" :title="minSamplingTooltip">
                          <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                        </div>
                          <div>
                            <input class="usa-input" type="number" min="1" name="minactivities" id="min-activities" placeholder="1" size="25" aria-label="Input box for minimum sampling activities per site parameter" />
                          </div>
                      </div>
                      <br>
                        <label class="usa-label">Minimum results per site </label><div class="tooltip" id="minresults-div" :title="minimumResultsTooltip">
                          <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                        </div>
                          <div>
                            <input class="usa-input" type="number" min="1" name="minresults"
                              id="minresults" placeholder="1" size="25" aria-label="Input box for minimum results per site parameter" />
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-col">
    <div class="usa-accordion">
      <h4 class="usa-accordion__heading">
        <button class="usa-accordion__button" aria-expanded="true" aria-controls="downloadaccordion">
          Download the Data
        </button>
      </h4>
      <div id="downloadaccordion" class="usa-accordion__content usa-prose">
        <div>Use the download parameters to specify download preferences.</div>
        <br>
        <div>
          <div id="download-box" class="grid-row grid-gap">
            <div id="download-box-input-div" class="grid-row grid-gap">
              <div id="data-type-parameters-div" class="tablet:grid-col-3">
                <div class="panel-body">
                  <div class="form-group">
                    <label class="usa-label">Data Source </label><div class="tooltip" :title="databasesTooltip">
                      <label for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                    </div>
                    <fieldset class="usa-fieldset">
                      <div class="usa-checkbox">
                        <input class="datasources usa-checkbox__input" id="nwis" type="checkbox" name="providers"
                          value="NWIS" checked />
                        <label class="usa-checkbox__label" for="nwis">NWIS</label>
                      </div>
                      <div class="usa-checkbox">
                        <input class="datasources usa-checkbox__input" id="stewards" type="checkbox"
                          name="providers" value="STEWARDS" checked />
                        <label class="usa-checkbox__label" for="stewards">STEWARDS</label>
                      </div>
                      <div class="usa-checkbox">
                        <input class="datasources usa-checkbox__input" id="storet" type="checkbox" name="providers"
                          value="STORET" checked />
                        <label class="usa-checkbox__label" for="storet">EPA</label>
                      </div>
                    </fieldset>
                  </div>
                  <br>
                  <div id="download-tabular-data">
                    <label class="usa-label">File Format </label><div class="tooltip" :title="fileFormatTooltip">
                      <label for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                    </div>
                    <fieldset class="usa-fieldset">
                      <div class="usa-radio">
                        <input class="usa-radio__input" id="csv" type="radio" name="mimeType" value="csv"
                          checked="checked" />
                        <label class="usa-radio__label" for="csv">Comma-separated</label>
                      </div>
                      <div class="usa-radio">
                        <input class="usa-radio__input" id="tsv" type="radio" name="mimeType" value="tsv" />
                        <label class="usa-radio__label" for="tsv">Tab-separated</label>
                      </div>
                      <div class="usa-radio">
                        <input class="usa-radio__input" id="xlsx" type="radio" name="mimeType" value="xlsx" />
                        <label class="usa-radio__label" for="xlsx">MS Excel 2007+</label>
                      </div>
                    </fieldset>
                  </div>
                  <br>
                  <div id="download-sorted-data-div">
                    <input type="checkbox" id="sorted" aria-label="Checkbox for sort data parameter" />
                    <label><strong>Sort data </strong></label><div class="tooltip" :title="sortDataTooltip">
                      <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                    </div>
                  </div>
                  <input type="hidden" name="zip" id="zip" value="yes" />
                  <input type="hidden" name="sorted" id="hidden-sorted" value="no" />
                </div>
              </div>
              <div id="download-data-kind-box" class="tablet:grid-col-5">
                <label class="usa-label">Data to Download </label><div class="tooltip" id="download-data-div" :title="dataDownloadTooltip">
                  <label class="control-label" for="control-label"><span style="color: #565c65;"><i class="fa fa-info-circle"></i></span></label>
                </div>
                <fieldset class="usa-fieldset">
                  <div class="usa-radio">
                    <input class="result-type usa-radio__input" id="organization" type="radio"
                      value="Organization" />
                    <label class="usa-radio__label" for="organization">Organization Data</label>
                  </div>
                  <div class="usa-radio">
                    <input checked="checked" type="radio" class="result-type usa-radio__input" id="sites"
                      type="radio" value="Station" />
                    <label class="usa-radio__label" for="sites">Site data only</label>
                  </div>
                  <div class="usa-radio">
                    <input class="result-type usa-radio__input" id="projects" type="radio" value="Project" />
                    <label class="usa-radio__label" for="projects">Project data</label>
                  </div>
                  <div class="usa-radio">
                    <input class="result-type usa-radio__input" id="proj-mon-weight" type="radio"
                      value="ProjectMonitoringLocationWeighting" />
                    <label class="usa-radio__label" for="proj-mon-weight">Project Monitoring Location Weighting
                      data</label>
                  </div>
                  <div class="usa-radio">
                    <input class="result-type usa-radio__input" id="samples" type="radio" value="Result" />
                    <label class="usa-radio__label" for="samples">Sample results (physical/chemical
                      metadata)</label>
                  </div>
                  <div class="usa-radio">
                    <input class="result-type usa-radio__input" id="biosamples" type="radio" value="Result" />
                    <label class="usa-radio__label" for="biosamples">Sample results (biological metadata)</label>
                  </div>
                  <div class="usa-radio">
                    <input class="result-type usa-radio__input" id="narrowsamples" type="radio" value="Result" />
                    <label class="usa-radio__label" for="narrowsamples">Sample results (narrow)</label>
                  </div>
                  <div class="usa-radio">
                    <input class="result-type usa-radio__input" id="activity-input" type="radio" value="Activity" />
                    <label class="usa-radio__label" for="activity-input">Sampling Activity</label>
                  </div>
                  <div class="usa-radio">
                    <input class="result-type usa-radio__input" id="activitymetric-input" type="radio"
                      value="ActivityMetric" />
                    <label class="usa-radio__label" for="activitymetric-input">Sampling Activity Metrics</label>
                  </div>
                  <div class="usa-radio">
                    <input class="result-type usa-radio__input" id="resultdetection" type="radio"
                      value="ResultDetectionQuantitationLimit" />
                    <label class="usa-radio__label" for="resultdetection">Result Detection Quantitation Limit
                      Data</label>
                  </div>
                  <div class="usa-radio">
                    <input class="result-type usa-radio__input" id="biologicalHabitatMetric" type="radio"
                      value="biologicalHabitatMetric" />
                    <label class="usa-radio__label" for="biologicalHabitatMetric">Biological Habitat Metrics</label>
                  </div>
                </fieldset>
              </div>
              <div id="map-and-query-div" class="tablet:grid-col-4">
                <!-- <div id="mapping-div" class="panel-body">
                  <div id="map-ops-button-div" class="form-inline">
                    <div id="show-on-map-button-div" class="form-group">
                      <button type="button" class="usa-button usa-button--outline" id="show-on-map-button">
                        Show sites on map
                      </button>
                    </div>
                    <div id="sld-select-div" class="usa-label">
                      <label>Style sites:&nbsp;</label>
                      <select id="sld-select-input" class="usa-select">
                        {% for sld in config.SITE_SLDS %}
                        <option value="{{ sld.id }}" {% if loop.first %}checked{% endif %}>
                          {{ sld.text }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div id="query-map-container">
                    <div id="query-results-map"></div>
                    <div id="map-loading-indicator">
                      <i class="fa fa-spin fa-spinner fa-5x"></i>
                    </div>
                    <div id="map-popover" title="Detailed site information" data-trigger="focus"></div>
                  </div>
                  <div id="query-map-legend-div">
                    <div class="legend-header">Sites Legend</div>
                    <div class="legend-container"></div>
                  </div>
                </div> -->
                <div id="form-action">
                  <div class="share-container" style="padding-top: 5px;">
                    <button type="button" class="usa-button usa-button--outline" style="float: right; margin-bottom: 10px;" aria-label="Button to copy current URL">
                      Copy Current URL
                    </button>
                    <textarea class="wqp-textarea" class="usa-textarea" readonly rows="3" style="margin-bottom: 10px;" aria-label="Current URL based on input search parameters"></textarea>
                  </div>
                </div>
                <div id="show-queries-div" class="grid-col">
                  <!-- <a href="#arcgis-online-modal" class="usa-button usa-button--outline" id="show-arcgis-online-help" type="button" aria-controls="arcgis-online-modal" data-open-modal>
                    Show ArcGIS Online Parameters
                  </a> -->
                  <div class="usa-modal usa-modal--lg" id="arcgis-online-modal" aria-labelledby="modal-2-heading" aria-describedby="modal-2-description">
                    <div class="usa-modal__content">
                      <div class="usa-modal__main">
                        <h2 class="usa-modal__heading" id="modal-2-heading">
                          Are you sure you want to continue?
                        </h2>
                        <div class="usa-prose">
                          <p id="modal-2-description">You have unsaved changes that will be lost.</p>
                        </div>
                        <div class="usa-modal__footer">
                          <ul class="usa-button-group">
                            <li class="usa-button-group__item">
                                <button type="button" class="usa-button" data-close-modal>Continue without saving</button>
                              </li>
                            <li class="usa-button-group__item">
                                <button type="button" class="usa-button usa-button--unstyled padding-105 text-center" data-close-modal>Go back</button>
                              </li>
                            </ul>
                        </div>
                      </div>
                      <button class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
                        
                  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="/assets/img/sprite.svg#close"></use>
                  </svg>
                
                        </button>
                      </div>
                  </div>
                  &nbsp;
                  <button class="usa-button usa-button--outline" id="show-queries-button" type="button" style="float: right; margin-bottom: 10px;" aria-label="Button to display web service calls">
                    Web Service Calls
                  </button>
                  &nbsp;
                  <div id="api-queries-div">
                    <div class="show-query-text" id="query-div">
                      <b></b>
                      <textarea class="wqp-textarea" class="usa-textarea" readonly="readonly" rows="6" aria-label="Current data download URL based on input search parameters"></textarea>
                    </div>
                    <div class="show-query-text" id="curl-query-div">
                      <b>cURL</b>
                      <textarea class="wqp-textarea" class="usa-textarea" readonly="readonly" rows="6" aria-label="Current cURL based on input search parameters"></textarea>
                    </div>
                    <div class="show-query-text" id="getfeature-query-div">
                      <b>WFS GetFeature</b>
                      <textarea class="wqp-textarea" class="usa-textarea" readonly="readonly" rows="6" aria-label="Current WFS GetFeature URL based on input search parameters"></textarea>
                    </div>
                  </div>
                </div>
                <a href="#download-status-modal" id="main-button" class="usa-button" type="submit" aria-controls="example-modal-1" style="float: right; margin-top: 20px;">
                  DOWNLOAD
                </a>
                <div class="usa-modal" id="download-status-modal" aria-labelledby="modal-1-heading" aria-describedby="modal-1-description">
                  <div class="usa-modal__content">
                    <div class="usa-modal__main">
                      <h2 class="usa-modal__heading" id="modal-2-heading">
                        Are you sure you want to continue?
                      </h2>
                      <div class="usa-prose">
                        <p id="modal-2-description">You have unsaved changes that will be lost.</p>
                      </div>
                      <div class="usa-modal__footer">
                        <ul class="usa-button-group">
                          <li class="usa-button-group__item">
                              <button type="button" class="usa-button" data-close-modal>Continue without saving</button>
                            </li>
                          <li class="usa-button-group__item">
                              <button type="button" class="usa-button usa-button--unstyled padding-105 text-center" data-close-modal>Go back</button>
                            </li>
                          </ul>
                      </div>
                    </div>
                    <button class="usa-button usa-modal__close" aria-label="Close this window" data-close-modal>
                      
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="/assets/img/sprite.svg#close"></use>
                </svg>
              
                      </button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
</div>
<!-- Commented out modals for now -->
<!-- <div id="download-status-modal" class="modal fade">
<div class="modal-dialog modal-sm">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
      &times;
    </button>
    <h4></h4>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer"></div>
</div>
</div>
</div>
<div id="arcgis-online-modal" class="modal fade">
<div class="modal-dialog model-sm">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h4></h4>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer"></div>
</div>
</div>
</div>
<div id="validate-download-dialog" class="modal fade">
<div class="modal-dialog modal-sm">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
      &times;
    </button>
    <h4>Invalid Form Input</h4>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button id="validate-close-button" type="button" class="btn btn-default" data-dismiss="modal">
      Ok
    </button>
  </div>
</div>
</div>
</div>
<div id="service-error-dialog" class="modal fade">
<div class="modal-dialog modal-sm">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
      &times;
    </button>
    <h4>Error</h4>
  </div>
  <div class="modal-body">
    Unable to connect to the Water Quality Portal. To report the issue,
    please
    <a href="/contact_us/?comments=Unable to initialize the download form.">contact us</a>.
  </div>
  <div class="modal-footer">
    <button id="validate-close-button" type="button" class="btn btn-default" data-dismiss="modal">
      Ok
    </button>
  </div>
</div>
</div>
</div> -->
{% endblock %} 

{% block body_page_script %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script type="text/javascript" src="{{ 'scripts/portal.js' | asset_url }}"></script>
{% endblock %}