{% extends "base.html" %}

{% block title %}WQP User Guide{% endblock %}

{% block google_analytics_script %}{% endblock %}

{% block page_header_title %}Water Quality Portal User Guide{% endblock %}

{% block page_content %}

<div id="userguide-content" class="page-sidebar">

	<nav aria-label="Secondary navigation," class="sidebar">
		<ul class="usa-sidenav">
			<li class="usa-sidenav__item">
				<a href="javascript:void(0);" class="usa-current">Anchor Link</a>
			</li>
		</ul>
	</nav>
	
	<div class="page-sidebar-content">
		{{ md_content|safe }}
	</div>
</div>

{% endblock %}

{% block body_page_script %}
    {% include "partials/hide_non_usgs_epa_logos.html" %}
{% endblock %}
