{% extends "base.html" %}

{% block title %}WQP Web Services Guide{% endblock %}

{% block google_analytics_script %}{% endblock %}

{% block page_header_title %}Water Quality Portal Web Services Guide{% endblock %}

{% block page_content %}


<div class="grid-row grid-gap">

	<!-- Side navigation -->
	<div class="tablet:grid-col-4">
		<nav aria-label="Secondary navigation" class="sticky-sidebar">
			<ul class="usa-sidenav">

				<li class="usa-sidenav__item">
					<a href="#">HTTPS Only</a>
				</li>

				<li class="usa-sidenav__item">
					<a href="#">Submitting a Web Services Request</a>
				</li>

				<li class="usa-sidenav__item">
					<a href="#">Web Service Request Examples</a>
				</li>

				<li class="usa-sidenav__item">
					<a href="#">Looking Up Domain Values through Web Services</a>
				</li>

			</ul>
		</nav>
	</div>

	<!-- Page Body Content -->
	<div class="grid-col">
        {{ feed_content|safe }}
  	</div>	
</div>

{% endblock %}

{% block body_page_script %}
    {% include "partials/hide_non_usgs_epa_logos.html" %}
{% endblock %}

