{% extends 'theme_base.html' %}

{% block title %}Water Quality Data{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" href="{{ 'custom.css' | asset_url }}">
{% endblock %}

{% block page_header %}



<!-- USWDS Government Website Banner -->
<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<section class="usa-banner" aria-label="Official government website">
  	<div class="usa-accordion">
    	<header class="usa-banner__header">
      		<div class="usa-banner__inner">
        		<div class="grid-col-auto">
          			<img class="usa-banner__header-flag" src="{{ 'img/us_flag_small.png' | asset_url }}" alt="U.S. flag">
        		</div>
        		<div class="grid-col-fill tablet:grid-col-auto">
          			<p class="usa-banner__header-text">An official website of the United States government</p>
          			<p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
        		</div>
				<button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
          			<span class="usa-banner__button-text">Here’s how you know</span>
        		</button>
      		</div>
    	</header>
    	<div class="usa-banner__content usa-accordion__content" id="gov-banner">
      		<div class="grid-row grid-gap-lg">
        		<div class="usa-banner__guidance tablet:grid-col-6">
          			<img class="usa-banner__icon usa-media-block__img" src="{{ 'img/icon-dot-gov.svg' | asset_url }}" role="img" alt="" aria-hidden="true">
          			<div class="usa-media-block__body">
            			<p>
              				<strong>Official websites use .gov</strong>
              				<br/>
              				A <strong>.gov</strong> website belongs to an official government organization in the United States.
						</p>
          			</div>
        		</div>
        		<div class="usa-banner__guidance tablet:grid-col-6">
          			<img class="usa-banner__icon usa-media-block__img" src="{{ 'img/icon-https.svg' | asset_url }}" role="img" alt="" aria-hidden="true">
          			<div class="usa-media-block__body">
						<p>
      	        			<strong>Secure .gov websites use HTTPS</strong>
        	      			<br/>
            	  			A <strong>lock</strong> (
							<span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title banner-lock-description" focusable="false"><title id="banner-lock-title">Lock</title><desc id="banner-lock-description">A locked padlock</desc><path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"/></svg></span>
							or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.
	            		</p>
    	      		</div>
        		</div>
 	  	 	</div>
 	   </div>
 	</div>
</section>


<!-- Main App Header -->
<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic" id="main-header">
	<div class="usa-nav-container">
		<div class="usa-navbar">
			<div class="custom-nav-branding">
				<a href="/" title="Home" aria-label="Home">
					<img src="{{ 'img/NWQMC.png' | asset_url }}" width="56px" height="76px" alt="National Water Quality Monitoring Council" />
				</a>
				<em><a href="/wqp" title="Home" aria-label="Home"><span class="headerText">NATIONAL WATER QUALITY MONITORING COUNCIL</span></a></em>
			</div>
			<button class="usa-menu-btn">Menu</button>
		</div>

		<!-- Add .usa-current on active usa-nav__link element  -->
		<nav aria-label="Primary navigation" class="usa-nav">
     	 	<button class="usa-nav__close"><img src="{{ 'img/close.svg' | asset_url }}" role="img" alt="close"></button>
			<ul class="usa-nav__primary usa-accordion">

				<li class="usa-nav__primary-item">
    				<a class="usa-nav__link" href="{{ url_for('portal_ui.home-canonical') }}"><span class="headerText">Home</span></a>
    			</li>

				<li class="usa-nav__primary-item">
    				<button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="basic-nav-section-one"><span class="headerText">Explore WQP Sites</span></button>
    				<ul id="basic-nav-section-one" class="usa-nav__submenu">
						<li class="usa-nav__submenu-item">
              				<a href="{{ url_for('portal_ui.uri_provider', provider_id = 'NWIS') }}" class="headerText">NWIS</a>
            			</li>
						<li class="usa-nav__submenu-item">
              				<a href="{{ url_for('portal_ui.uri_provider', provider_id = 'STEWARDS') }}" class="headerText">STEWARDS</a>
            			</li>
						<li class="usa-nav__submenu-item">
              				<a href="{{ url_for('portal_ui.uri_provider', provider_id = 'STORET') }}" class="headerText">WQX</a>
            			</li>
					</ul>
				</li>


				<li class="usa-nav__primary-item">
    				<button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="basic-nav-section-two" style="color: white;"><span>Help & About</span></button>
    				<ul id="basic-nav-section-two" class="usa-nav__submenu">
						<li class="usa-nav__submenu-item">
							<a href="{{ url_for('portal_ui.wqp_description-canonical') }}" class="">What is the WQP?</a>
					 	</li>
						 <li class="usa-nav__submenu-item">
							<a href="{{ url_for('portal_ui.orgs-canonical') }}" class="">Contributing Organizations</a>
					  	</li>
						<li class="usa-nav__submenu-item">
              				<a href="{{ url_for('portal_ui.portal_userguide-canonical') }}" class="">User Guide</a>
            			</li>
						<li class="usa-nav__submenu-item">
              				<a href="{{ url_for('portal_ui.webservices_documentation-canonical') }}" class="">Web Services Guide</a>
            			</li>
						<li class="usa-nav__submenu-item">
              				<a href="{{ url_for('portal_ui.faqs-canonical') }}" class="">FAQs</a>
            			</li>
						<li class="usa-nav__submenu-item">
              				<a href="{{ url_for('portal_ui.upload_data-canonical') }}" class="">Upload Data</a>
            			</li>
						<li class="usa-nav__submenu-item">
							<a href="{{ url_for('portal_ui.apps_using_portal-canonical') }}" class="">Applications using the WQP</a>
					  	</li>
						<li class="usa-nav__submenu-item">
							<a href="{{ url_for('portal_ui.other_portal_links-canonical') }}" class="">Other Water Quality Portals</a>
					  	</li>
						<li class="usa-nav__submenu-item">
							<a href="{{ url_for('portal_ui.contact_us-canonical') }}" class="">Contact Us</a>
					  	</li>
					</ul>
				</li>
			</ul>
		</nav>
  	</div>
</header>
<div id="siteAnnouncement">
	<div class="usa-alert usa-alert--info usa-alert--no-icon">
	  <div class="usa-alert__body announcement-body">
		<p class="usa-alert__text">
		  <b>Announcement Title:</b> This is an announcement preview about the site. Click to learn more about this announcement...
			<a class="usa-link" href="javascript:void(0);">Read More</a>.
		</p>
	  </div>
	  <button
	  	
        class="usa-button usa-modal__close"
		id="close-announcement"
        aria-label="Close this announcement"
      >
			<img src="{{ 'img/close.svg' | asset_url }}" alt="info" onclick="closeAnnouncement();" id="announcementImg"/>
        </svg>
      </button>
	</div>
  </div>

{% endblock %}


{% block navbar_navigation %}
<!-- Empty -->
{% endblock %} 


{% block page_footer %}

	</div>

    <hr/>
    <div id="footer-row-div">
        <footer class="usa-footer">
            <div class="usa-footer__primary-section" id="primary-footer">
              <nav class="usa-footer__nav" aria-label="Footer navigation">
                <ul class="grid-row grid-gap">
                  <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="{{ url_for('portal_ui.wqp_description-canonical') }}">What is the WQP?</a>
                  </li>
                  <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="{{ url_for('portal_ui.orgs-canonical') }}">Contributing orgs</a>
                  </li>
                  <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="{{ url_for('portal_ui.apps_using_portal-canonical') }}">Apps using the WQP</a>
                  </li>
                  <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="{{ url_for('portal_ui.other_portal_links-canonical') }}">Other Water Quality Portals</a>
                  </li>
                  <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="{{ url_for('portal_ui.uri_base') }}">Explore WQP sites</a>
                  </li>
                </ul>
              </nav>
            </div>
          
            <div class="usa-footer__secondary-section">
              <div class="grid-container">
                <div class="grid-row grid-gap">
                  <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
                    <div class="mobile-lg:grid-col-auto">
                      <!-- <img class="usa-footer__logo-img" src="img/uswds/USGS_logo.gif" alt=""> -->
                      <a href="http://usgs.gov"><img alt="USGS Science for a changing world"
                        src="{{ 'img/USGS_logo.gif' | asset_url }}"/></a>
                    </div>
                    <div class="mobile-lg:grid-col-auto">
                      <!-- <img class="usa-footer__logo-img" src="img/uswds/USGS_logo.gif" alt=""> -->
                      <a href="http://epa.gov"><img alt="EPA"
                        src="{{ 'img/EPA_logo.gif' | asset_url }}"/></a>
                    </div>
                  </div>
                  <div class="usa-footer__contact-links mobile-lg:grid-col-6">
                    <h3 class="usa-footer__contact-heading">Agency Contact Center</h3>
                    <address class="usa-footer__address">
                      <div class="usa-footer__contact-info grid-row grid-gap">
                        <div class="grid-col-auto">
                          <a href="tel:1-800-424-9067">1-800-424-9067</a>
                        </div>
                        <div class="grid-col-auto">
                          <a href="mailto:WQX@epa.gov">WQX@epa.gov</a>
                        </div>
                      </div>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </footer>
    </div>

	{% endblock %}

	{% block body_page_script %}

					{% endblock %}